<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
body {
    background-size:auto;
    background-repeat: no-repeat;
    background-color: rgb(88, 88, 88);
}
#anyClass {
  height:500px;
  overflow-y: scroll;
}
#b {border-style:solid;}
#teamimage{
  height:80%;
  width:100%;
  padding-top:10px;
  padding-left:10px;
  padding-right: 10px;
}
</style>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/addmatch">AddMatch</a></li>
      <li><a href="/addsquad">AddSquad</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Add Player</div>
      <div class="panel-body">
        <form id="addplayer" action="/addsquad" method="post">
          <div class="form-group">
            <label>Player Name</label>
            <input type="text" class="form-control" id="playername" placeholder="Enter the playername" name="playername">
          </div>
          <div class="form-group">
            <label>Role</label>
            <select class="form-control" name="role" id="role">
              <option>BAT</option>
              <option>BOWL</option>
              <option>ALL</option>
            </select>
          </div>
          <div class="form-group">
            <label>Batting Pitch</label>
            <input type="text" class="form-control" id="battingpitch" placeholder="Enter the points" name="battingpitch">
          </div>
          <div class="form-group">
            <label>Balanced Pitch</label>
            <input type="text" class="form-control" id="balancedpitch" placeholder="Enter the points" name="balancedpitch">
          </div>
          <div class="form-group">
            <label>Bowling Pitch</label>
            <input type="text" class="form-control" id="bowlingpitch" placeholder="Enter the points" name="bowlingpitch">
          </div>
          <div class="col-md-offset-5">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Selected Players</div>
      <div class="panel-body" id="anyClass">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
              <th>BattingPitch</th>
              <th>BalancedPitch</th>
              <th>BowlingPitch</th>
            </tr>
          </thead>
          <tbody id="tablebody">
            {% for x in squad %}
              <tr>
                <td>{{x.playername}}</td>
                <td>{{x.role}}</td>
                <td>{{x.battingpitch}}</td>
                <td>{{x.balancedpitch}}</td>
                <td>{{x.bowlingpitch}}</td>
                <td>
                  <form action="/removeSquad" method="post">
                    <input type="hidden" id="playername" name="playername" value="{{x.playername}}">
                    <button type="submit" class="btn btn-danger" id="{{x.playername}}">Delete</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
