<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/addmatch">AddMatch</a></li>
      <li><a href="/addsquad">AddSquad</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading" >
      Panel Heading
    </div>
    <div class="panel-body">
      <table class="table table-striped">
    <thead>
      <tr>
        <th>TotalTeams:{{totalteams}}</th>
      </tr>
      <tr>
        <th>ThisCombination:{{thiscombinationlength}}</th>
      </tr>
      <tr>
        <th>InputCombi:{{currentcombination}}</th>
      </tr>
      <tr>
        <th>player1</th>
        <th>player2</th>
        <th>player3</th>
        <th>player4</th>
        <th>player5</th>
        <th>player6</th>
        <th>player7</th>
        <th>player8</th>
        <th>player9</th>
        <th>player10</th>
        <th>player11</th>
        <th>Total percentage</th>
        <th>Current points</th>
        <th>Pitch Points</th>
      </tr>
    </thead>
    <tbody>
      {% for team in validcombinations %}
      <tr>
        <td>{{team[0].playername}}</td>
        <td>{{team[1].playername}}</td>
        <td>{{team[2].playername}}</td>
        <td>{{team[3].playername}}</td>
        <td>{{team[4].playername}}</td>
        <td>{{team[5].playername}}</td>
        <td>{{team[6].playername}}</td>
        <td>{{team[7].playername}}</td>
        <td>{{team[8].playername}}</td>
        <td>{{team[9].playername}}</td>
        <td>{{team[10].playername}}</td>
        <td>{{team[11]}}</td>
        <td>{{team[12]}}</td>
        <td>{{team[13]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>
  </div>
</body>
</html>